#app {
  // 主体区域
  .main-container {
    min-height: 100%;
    transition: margin-left 0.28s;
    margin-left: 180px;
    position: relative;
  } // 侧边栏
  .sidebar-container {
    transition: width 0.28s;
    width: 180px !important;
    height: calc(100vh - 108px);
    position: fixed;
    font-size: 0px;
    top: 58px;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden; //reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }
    .el-scrollbar__wrap {
      // width: 110%;
      height: 100%;
    }
    .scrollbar-wrapper {
      overflow-x: hidden !important;
      // overflow-y: hidden !important;
      .el-scrollbar__view {
        height: 100%;
      }
    }
    .is-horizontal {
      display: none;
    }
    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }
    .svg-icon {
      margin-right: 16px;
    }
    .el-menu {
      border: none;
      min-height: 100%;
      height: auto;
      width: 100% !important; // padding-bottom: 50px;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
  .tags-view-container {
    position: fixed;
    top: 58px;
    left: 180px;
    right: 0;
    z-index: 1000;
  }
  .hideSidebar {
    .sidebar-container {
      width: 36px !important;
    }
    .main-container {
      margin-left: 36px;
    }
    .tags-view-container {
      left: 36px;
    }
    .submenu-title-noDropdown {
      padding-left: 10px !important;
      position: relative;
      .el-tooltip {
        padding: 0 10px !important;
      }
    }
    .el-submenu {
      overflow: hidden;
      &>.el-submenu__title {
        padding-left: 10px !important;
        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }
    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
    .copy {
      width: 36px;
      a {
        display: none;
      }
    }
  }
  .sidebar-container .nest-menu .el-submenu>.el-submenu__title,
  .sidebar-container .el-submenu .el-menu-item {
    min-width: 180px !important;
  }
  .el-menu--collapse .el-menu .el-submenu {
    min-width: 180px !important;
  } //适配移动端
  .mobile {
    .main-container {
      margin-left: 0!important;
    }
    .tags-view-container {
      left: 0!important;
    }
    .sidebar-container {
      transition: transform 0.28s;
      width: 180px !important;
    }
    &.hideSidebar {
      .sidebar-container {
        transition-duration: 0.3s;
        transform: translate3d(-180px, 0, 0);
      }
    }
  }
  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}
.copy {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1001;
  width: 180px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  padding-left: 20px;
  transition: all 0.3s ease-in-out;
}