/**
 * dark theme color
 */
$theme-jack-color-cyan-blue: rgba(6, 202, 158, 1);
$theme-jack-color-cyan-blue-8: rgba(6, 202, 158, 0.8);
$theme-jack-color-cyan-blue-6: rgba(6, 202, 158, 0.6);
$theme-jack-color-cyan-blue-2: rgba(6, 202, 158, 0.2);
$theme-jack-color-blue: rgba(16, 32, 66, 1);
$theme-jack-color-blue-8: rgba(16, 32, 66, 0.8);
$theme-jack-color-blue-6: rgba(16, 32, 66, 0.6);
$theme-jack-color-blue-4: rgba(16, 32, 66, 0.4);
$theme-jack-color-blue-3: rgba(16, 32, 66, 0.3);
$theme-jack-color-blue-2: rgba(16, 32, 66, 0.2);
$theme-jack-color-blue-1: rgba(16, 32, 66, 0.1);

/**
* sideBar
*/
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;
