/**
 * dark theme color
 */
$theme-bee-color-cyan-blue: rgba(225, 180, 0, 1);
$theme-bee-color-cyan-blue-8: rgba(225, 180, 0, 0.8);
$theme-bee-color-cyan-blue-6: rgba(225, 180, 0, 0.6);
$theme-bee-color-cyan-blue-2: rgba(225, 180, 0, 0.2);
$theme-bee-color-blue: rgba(0, 0, 0, 1);
$theme-bee-color-blue-8: rgba(0, 0, 0, 0.8);
$theme-bee-color-blue-6: rgba(0, 0, 0, 0.6);
$theme-bee-color-blue-4: rgba(0, 0, 0, 0.4);
$theme-bee-color-blue-3: rgba(0, 0, 0, 0.3);
$theme-bee-color-blue-2: rgba(0, 0, 0, 0.2);
$theme-bee-color-blue-1: rgba(0, 0, 0, 0.1);

/**
* sideBar
*/
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;
