/**
 * dark theme color
 */
$theme-rose-color-ruby: rgba(200, 8, 82, 1);
$theme-rose-color-ruby-8: rgba(200, 8, 82, 0.8);
$theme-rose-color-ruby-6: rgba(200, 8, 82, 0.6);
$theme-rose-color-ruby-2: rgba(200, 8, 82, 0.2);
$theme-rose-color-dark: rgba(11, 7, 6, 1);
$theme-rose-color-dark-8: rgba(11, 7, 6, 0.8);
$theme-rose-color-dark-6: rgba(11, 7, 6, 0.6);
$theme-rose-color-dark-4: rgba(11, 7, 6, 0.4);
$theme-rose-color-dark-3: rgba(11, 7, 6, 0.3);
$theme-rose-color-dark-2: rgba(11, 7, 6, 0.2);
$theme-rose-color-dark-1: rgba(11, 7, 6, 0.1);

/**
* sideBar
*/
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;
